.glide__slides{
  width: 100%;
 
}
.glide__slides .glide__slide{
 list-style: none;
 display: inline-block;

}
.not-verified{
  background-color:#E0A800 !important;   
}
.verified{
  background-color:#6FB327 !important;
}
.deactivate{
  background-color:#17A2B8 !important;
}
.delete{
  background-color:#C82333 !important;
}
.registred{
  background-color:#4556AC !important;

}