.glide__slides{
  width: 100%; 
}
.glide__slides .glide__slide{
 list-style: none;
 display: inline-block;

}
.not-verified{
  background-color:#E0A800 !important;   
}
.verified{
  background-color:#6FB327 !important;
}
.deactivate{
  background-color:#17A2B8 !important;
}
.delete{
  background-color:#C82333 !important;
}
.registred{
  background-color:#4556AC !important;

}
ul {
  list-style-type:none;
}
.one {
  padding: 6px 11px;

  background: #6FB327;
  border-radius: 50px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */


  color: #FFFFFF;
}
.p1 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */


  color: #000000;
}
.p2 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */


  color: #909090;
}
li.glide__slide.mx-2 {
  height: 228px;
  width: 128px;
}
.icon-cards-row {
  margin-left: -40px !important;
}
.card .card-body {
  padding: 0rem !important;
}
.u {
  background-color: #d7f9ef;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 87px;
  text-align: center;
  color: #0BB783;
}
.li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #212121;
}
a.list-item-heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
}